<ion-header>

    <mat-toolbar color="primary" class="mytoolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <span>Laundy App</span>

        <span class="example-spacer"></span>
        <span class="mybuttons">
          <button mat-icon-button>
            <mat-icon class="example-icon" aria-hidden="false" matBadge="0" matBadgePosition="above after" matBadgeSize="medium" matBadgeColor="warn">chat</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="example-icon" aria-hidden="false" matBadge="0" matBadgePosition="above after" matBadgeSize="medium" matBadgeColor="warn">notification_important</mat-icon>
          </button>   
       </span>

    </mat-toolbar>

</ion-header>

<ion-content fullscreen="true">



    <div class="twPc-div">
        <a class="twPc-bg twPc-block"></a>

        <div>
            <div class="twPc-button">
                <br>
                <ion-button expand="round" color="matfacebook">
                    Belin Laundry
                </ion-button>
            </div>

            <a title="Justus developer" href="#" class="twPc-avatarLink">

                <img alt="Justus" src='assets/imgs/jkuat.png' class="twPc-avatarImg">
            </a>

            <div class="twPc-divUser">
                <div class="twPc-divName">
                    {{user_data?.firstname}} {{user_data?.lastname}}
                </div>
                <span>
                  <strong> Status:</strong> &nbsp; {{user_data?.status}}
                </span>
            </div>

            <div class="twPc-divStats">

                <ul class="twPc-Arrange">
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Nearest store</span>
                        <span class="twPc-StatValue">JUJA <small>KENYA</small> </span>

                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Payment</span>
                        <span class="twPc-StatValue">MPESA</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Today's Date</span>
                        <span class="twPc-StatValue"> {{todaydate |  date}}</span>

                    </li>
                </ul>
            </div>

        </div>
    </div>

    <ion-list #scheduleList [hidden]="activities === 0" *ngIf="users_invoices?.length > 0">
        <ion-item-group>
            <ion-item-divider sticky>
                <ion-label>
                    My Invoices
                </ion-label>
            </ion-item-divider>

            <ion-item-sliding #slidingItem [attr.track]=" get_random_word() | lowercase" *ngFor="let item of users_invoices">
                <ion-item>
                    <ion-label>
                        <h3>{{item?.inv_cat}} &nbsp; <code style="letter-spacing: 0px; word-spacing: -6px; color: #3f51b5;">{{item?.inv_date |  date}}</code> </h3>
                        <p>
                            {{item?.inv_details}}
                        </p>
                        <p>
                            KES {{item?.inv_amount | number:'1.2'}}
                        </p>
                    </ion-label>

                    <ion-badge item-end color="linkedin" *ngIf="item.res_code === '0' ">
                        Success
                    </ion-badge>
                    <ion-badge item-end color="danger" *ngIf="item.res_code !== '0' ">
                        Failed
                    </ion-badge>

                </ion-item>
                <ion-item-options>
                    <ion-item-option color="instagram">
                        Retry
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>


        </ion-item-group>
    </ion-list>

    <ion-list-header [hidden]="activities > 0" *ngIf="users_invoices?.length === 0 ">
        You have NO invoices {{user_data?.firstname}}
    </ion-list-header>

</ion-content>

<app-tabs></app-tabs>